@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0A0A0A; /* Matches 'background' in tailwind config */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom styles for a subtle page load animation */
main {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}